/**
* @template:  Dangal

TABLE OF CONTENTS

	Creative demo
		
*/


.demo8{
  background-image: url(../../img/bg8.jpg);
}
.demo8 .caption {
  margin-top: 50px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.demo8 .caption h5 {
  letter-spacing: 8px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.demo8 .caption h2 {
  font-weight: 400;
  font-size: 55px;
  margin: 30px auto;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.demo8 .caption a .botn {
  letter-spacing: 2px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 7px 30px;
  display: inline-block;
  transition: all .5s;
}
.demo8.overlay:after{
  background: rgba(12,12,12,.4);
}


.section-head .ctit,
.navbar-default .navbar-nav > li .active,
.hero .hero-head h1 span,
.hero .block .block-cont .item .icon,
.services .item .icon,
.quote span,
.price .spacial .mount,
.clients .client-say .client-item h6,
.team .item .info h5,
.team .item .social-icon span:hover,
.blog .item .content span,
.contact .info .item span,
.contact .tabs .tabs-icon li span
{
  color: #42D9E4 !important;
}


.btn-bg-md,
.btn-bg-md:hover,
.btn-bord-md:hover,
.portfolio .item-img .icon:hover,
.price .item .order div:hover,
.price .spacial .pop,
.price .spacial .order div,
.clients .owl-theme .owl-dots .active span,
.team .skills .botn:hover,
.team .prog .info .skills-progress span,
.contact .tabs .content .form input[type="submit"]:hover,
.contact .tabs .content .subscribe input[type="submit"]:hover,
footer .main-footer .social-icon span:hover
{
  background: #42D9E4;
}

.demo8 .caption a .botn:hover,
.btn-bg-md,
.btn-bg-md:hover,
.btn-bord-md:hover,
.portfolio .item-img .icon:hover,
.price .item .order div:hover,
.price .spacial .order div,
.contact .tabs .content .subscribe input[type="submit"]:hover
{
  border-color: #42D9E4;
}