/**
* @template:  Dangal

TABLE OF CONTENTS

	Particles demo
		
*/


.demo6{
  background-image: url(../../img/bg6.jpg);
  overflow: hidden;
}
.demo6 .caption {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}
.demo6 .caption h5 {
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}
.demo6 .caption h2 {
  font-weight: 200;
  font-size: 50px;
  margin: 30px auto;
  font-family: 'Raleway', sans-serif;
}
.demo6 .caption a {
  margin: 0 5px;
  letter-spacing: 1px;
}
.demo6.overlay:after{
  background: rgba(12,12,12,.7);
}
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2 !important;
}


.section-head .ctit,
.navbar-default .navbar-nav > li .active,
.hero .hero-head h1 span,
.hero .block .block-cont .item .icon,
.services .item .icon,
.quote span,
.price .spacial .mount,
.clients .client-say .client-item h6,
.team .item .info h5,
.team .item .social-icon span:hover,
.blog .item .content span,
.contact .info .item span,
.contact .tabs .tabs-icon li span
{
  color: #AA00FF !important;
}


.btn-bg-md,
.btn-bg-md:hover,
.btn-bord-md:hover,
.portfolio .item-img .icon:hover,
.price .item .order div:hover,
.price .spacial .pop,
.price .spacial .order div,
.clients .owl-theme .owl-dots .active span,
.team .skills .botn:hover,
.team .prog .info .skills-progress span,
.contact .tabs .content .form input[type="submit"]:hover,
.contact .tabs .content .subscribe input[type="submit"]:hover,
footer .main-footer .social-icon span:hover
{
  background: #AA00FF;
}


.btn-bg-md,
.btn-bg-md:hover,
.btn-bord-md:hover,
.portfolio .item-img .icon:hover,
.price .item .order div:hover,
.price .spacial .order div,
.contact .tabs .content .subscribe input[type="submit"]:hover
{
  border-color: #AA00FF;
}